:root {
  --m0: 1ex;
  --m1: 1em;
}

body {
  margin: var(--m0);
}

#d3 {
  margin: var(--m1);
}

.plot {
  width: 100%;
  min-width: calc(1920px - 2 * (var(--m0) + var(--m1)));
  height: auto;
}

.newloc {
  display: grid;
  grid-template-columns: max-content 10em;
  row-gap: 1ex;
  column-gap: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 1ex;
}
